@import '../../scss/_variables.scss';

.container{
    width: 100%;
    margin: 0 ;
    padding-top: 40px;
    padding-bottom: 50px;
    .list{
        display: flex;
        justify-content: space-between;
        div{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
            align-items: center;
        }
    }
}
.item{
    background: #fff;
    padding: 8px 14px;
    border-radius: 50px;
    transition: all ease .3s;
    &:hover{
        background: #FFAB08;
    }
}
.active{ 
    background: #FFAB08;
    padding: 8px 14px;
    border-radius: 50px;
}
p{
    font-size: $mainFontSize;
    font-family: $mainFontFamily;
    color: $mainColorText;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
