@import '../../scss/_variables.scss';
.item{
    background: #fff;
    padding: 8px 14px;
    border-radius: 50px;
    transition: all ease .3s;
    &:hover{
        background: #FFAB08;
    }
}
p{
    font-size: $mainFontSize;
    font-family: $mainFontFamily;
    color: $mainColorText;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
